.content-container {
	text-align: center;
}

.content {
	width: 100%;
	max-width: 750px;
	display: inline-block;
	text-align: left;
}

.header {
	position: relative;
}

.header * {
	vertical-align: middle;
	display: inline-block;
}

.vertical-aligner {
	height: 100%;
}

.header-right {
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
}

.footer {
	text-align: center;
}

.main-buttons-container {
	text-align: center;
}

.post-image-container {
	position: relative;
	overflow: hidden;
}

.post.thumbnail .post-image-container img.post-image {
	position: absolute;
}

.post.thumbnail .dummy-image {
	width: 100%;
	max-width: 100%;
	min-width: 100%;
	vertical-align: middle;
}

.post.thumbnail .post-details-container {
	display: none;
}

.post-image {
	width: 100%;
	max-width: 100%;
	overflow: hidden;
	display: inline-block;
}

.post {
	display: inline-block;
}

.post.list {
	width: 100%;
	margin-bottom: 60pt;
}

.post.thumbnail {
	width: 25%;
}

.votes-overlay {
	position: absolute;
	left: 0;
	top: 0;
}

.display-form {
	margin-bottom: 20pt;
}

@media (max-width: 680px) {
	.header a[href].navigation-link:not(.profile) {
		font-size: 0;
	}

	.header a[href].navigation-link.discover::after {
		content: "🔎";
		display: inline-block;
		font-size: 24pt;
	}

	.header a[href].navigation-link.share::after {
		content: "🎨";
		display: inline-block;
		font-size: 24pt;
	}
}